body {
  background-color: plum ;
  color:white;
  font-family: 'Playfair Display', serif;
  text-align: center;
}
h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 48px;
}
header {
  color: black;
  text-align: center;
  margin:0px;

}
.board {
  text-align: center;
  margin:20px 0px 0px 20px;
  display: inline-block;
  vertical-align: top;
}
.square {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  border:3px solid #FFF;
  -moz-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.X-bg {
  background: url('../images/playX.png') no-repeat center center;
  background-size: 100% auto;
}
.O-bg {
  background: url('../images/playO.png') no-repeat center center;
  background-size: 100% auto;
}
.X-cake-bg {
  background: url('../images/cake-X.gif') no-repeat center center;
  background-size: 100% auto;
}
.O-cake-bg {
  background: url('../images/cake-O.gif') no-repeat center center;
  background-size: 100% auto;
}
.cat-bg {
  background: url('../images/cat-bg.gif') no-repeat center center;
  background-size: 100% auto;
}
.panda-bg {
  background: url('../images/panda-bg.gif') no-repeat center center;
  background-size: 100% auto;
}
.without-bg {
  
}

td:not(.not-hover):hover {
  background-color: orchid;
}

.not-hover {
  background-color: plum;
}

.scores {
  display: inline-block;
  margin:20px 20px 20px 0px;
  vertical-align: top;
}
#slectBoardSize {
  width: 55%;
  height: 150%;
  margin-bottom: 7px;
}

#customizeTokens {
  width: 55%;
  height: 150%;
  margin-bottom: 7px;
}
#selectPlayer {
  width: 55%;
  height: 150%;
}
.selectDiv {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  padding:0px;
}
.clearDiv {
  display: inline-block;
  vertical-align: middle;
  margin:0px;
  padding:0px;
  position: relative;
  left:-70px;
}
select {
  line-height: 1;
  padding: 20px;
  border-radius: 3px;
  border:3px solid antiquewhite;
  font-size: 1em;
  height: 150%;
  -moz-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#clearBtn {
  height: 50px;
  color: black;
  font-size: 0.9em;
  border-radius: 8px;
  background-color: whitesmoke;
  -moz-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#clearBtn:hover {
  -moz-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  -webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: gainsboro;
}

ul {
  list-style: none;
  text-shadow: 1px 1px 4px #100000;
}
li {
  font-size: 1.5em;
  margin:15px;
}
span {
  font-size: 1.5em;
}

#playerXWins {
  padding-left: 50px;
}
#playerOWins {
  padding-left: 47px;
}
#ties {
  padding-left: 87px;
}

.current {
  color:cyan;
  font-size: 1.9em;
}
.notCurrent {
  color: white;
}

#startAgain {
  height: 35px;
  width: 110px;
  display: inline-block;
  vertical-align: middle;
  color: black;
  font-size: 0.9em;
  border-radius: 8px;
  background-color: whitesmoke ;
  -moz-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin:15px;
}
#startAgain:hover {
  -moz-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  -webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: gainsboro ;
}

#whoWinsMsg {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  margin:10px;
  font-size: 2em;
  color: orangered ;
  text-shadow: 1px 1px 4px #EEEEEE;
}

@media(max-width: 50em) {
  .scores {
    display: block;
    text-align: center;
  }
  #whoWinsMsg {
    font-size: 1.5em;
    margin-left: 20px;
    text-align: center;
  }
  #startAgain {
    margin-left:20px;
  }
  #clearBtn {
    margin-top: 7px;
    position: relative;
    left:90px;
  }
}




